
.cabecalho {
    background-color: var(--branco-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}